.geral {
    padding: 10px;
    width: 100%;
}

.geral .equipamentos {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
}

.geral .equipamentos a {
    padding: 30px 50px;
    border: 2px solid red;
    border-radius: 7px;
    text-align: center;
    font-size: 1.5rem;
    width: 30%;
    transition:all .5S;
}

.geral .equipamentos a:hover {
    background: linear-gradient(rgb(253, 111, 111) 5%, red);
    color: #fff;
}

footer {
    background: linear-gradient(#fff,red);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
}

footer p {
    text-align: center;
}